<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Download youtube videos</title>
</head>

<body>

    <!--Header-->
    <div class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='imgs/YouTube_23392.png') }}" />
            <h1>Download youtube videos</h1>
        </a>
    </div>

    <!--Directed Downloading Bar-->
    <form class="barContainer" action="/search_with_link" method="post">
        <input type="text" name="link" class="inputTerm" placeholder="Link" />
        <button type="submit" class="submitButton">Search</button>
    </form>

    <h3 style="width: 100%; text-align: center;">OR</h3>

    <!--Search Bar-->
    <form class="barContainer" action="/search_with_keyword" method="post">
        <input type="text" name="keyword" class="inputTerm" placeholder="Keyword" />
        <button type="submit" class="submitButton">Search</button>
    </form>

    <!--Destination Bar-->
    <form class="barContainer">
        <input type="text" name="destination" class="inputTerm" id="destination" placeholder="Destination" />
    </form>

    <!--Result-->
    {% block result %}
    <div class="result">
        <ul class="list">
            {% for video in videos %}
            <li class="item">
                <div class="thumbnail_or_preview">
                    <img src="{{video.snippet.thumbnails.medium.url}}"
                        onclick="show_preview_video('{{video.id.videoId if video.id.videoId else video.id}}')" />

                    <!--Preview-->
                    <div id="preview-{{video.id.videoId if video.id.videoId else video.id}}" style="display: none;">
                        <iframe width="320" height="180" id="previewIframe" src="https://www.youtube.com/embed/"
                            frameborder="0"
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="detailContainer">
                    <h3 class="detailName">{{video.snippet.title}}</h3>
                    <p class="detailView">View: {{video.statistics.viewCount if video.statistics else 'Unknown'}}
                    </p>
                    <p class="detailLike">Like: {{video.statistics.likeCount if video.statistics else 'Unknown'}}
                    </p>
                    <p class="detailDuration">Duration: {{video.contentDetails.duration if
                        video.contentDetails else 'Unknown'}}
                    </p>
                    <p class="detailUploadAt">Uploaded {{video.snippet.publishedAt}} ago</p>
                </div>
                <div class="action">
                    <form>
                        <select id="quality-{{video.id.videoId if video.id.videoId else video.id}}">
                            <option value="highest">High</option>
                            <option value="lowest">Low</option>
                        </select>
                    </form>
                    <button onclick="download('{{video.id.videoId if video.id.videoId else video.id}}')"
                        class="downloadButton">Download</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>

</body>

</html>