<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Download youtube videos</title>
</head>

<body>

    <!--Header-->
    <div class="header">
        <a href="/">
            <img src="{{ url_for('static', filename='imgs/YouTube_23392.png') }}" />
            <h1>Download youtube videos</h1>
        </a>
    </div>

    <!--Directed Downloading Bar-->
    <form class="barContainer" action="/download">
        <input type="text" name="link" class="inputTerm" placeholder="Link" />
        <button type="submit" class="submitButton">Download</button>
    </form>

    <h3 style="width: 100%; text-align: center;">OR</h3>

    <!--Search Bar-->
    <form class="barContainer" action="/search">
        <input type="text" name="keyword" class="inputTerm" placeholder="Keyword" />
        <button type="submit" class="submitButton">Search</button>
    </form>

    <!--Result-->
    {% block result %}
    <div class="result">
        <ul class="list">
            {% for video in videos %}
            <a href="/download/{{video.id.videoId}}" class="item">
                <img src={{video.snippet.thumbnails.medium.url}} />
                <div class="detailContainer">
                    <h3 class="detailName">{{video.snippet.title}}</h3>
                    <p class="detailView"></p>
                    <p class="detailLike"></p>
                    <p class="detailUploadAt">Uploaded {{video.snippet.publishedAt}} ago</p>
                </div>
            </a>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

</body>

</html>