body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    margin: 0 30px;
}

.header a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.barContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.barContainer .inputTerm {
    height: 30px;
    width: 500px;
    border-radius: 8px;
    padding: 8px;
}

.barContainer .submitButton {
    border-radius: 8px;
    color: black;
    margin-left: 10px;
    cursor: pointer;
}

.result {
    margin: 60px 30px;
}

.result .item {
    display: flex;
    margin: 30px 0;
    max-width: 80%;
    background-color: rgb(194, 188, 187);
    border-radius: 16px;
    padding: 12px;
    position: relative;
}

.result .item img {
    cursor: pointer;
}

.result .item .action {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

.result .action button,
.result .action select {
    cursor: pointer;
}

.result .detailContainer {
    margin-left: 30px;
}